<html>
  <head>
    <title>Apartment Buildings</title>
  </head>
  <body>
    <h1>Apartment Buildings</h1>
    <form method="GET" action="{{ url_for('apartment.get_buildings') }}">
      <label for="company_name">Company Name:</label>
      <input type="text" id="company_name" name="company_name" value="{{ request.args.get('company_name', '') }}">

      <label for="building_name">Building Name:</label>
      <input type="text" id="building_name" name="building_name" value="{{ request.args.get('building_name', '') }}">

      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="{{ request.args.get('city', '') }}">

      <label for="state">State:</label>
      <input type="text" id="state" name="state" value="{{ request.args.get('state', '') }}">

      <label for="zip_code">Zip:</label>
      <input type="text" id="zip_code" name="zip_code" value="{{ request.args.get('zip_code', '') }}">

      <input type="submit" value="Search">
    </form>
    {% if has_searched %}
      {% if buildings %}
        <table>
          <th>Company Name</th>
          <th>Building Name</th>
          <th>Address</th>
          <th>Year Built</th>
          <th>Units</th>
          {% for building in buildings %}
            <tr>
              <td>{{ building.company_name }}</td>
              <td><a href="{{ url_for('apartment.get_building', company_name=building.company_name, building_name=building.building_name) }}">{{ building.building_name }}</a></td>
              <td>{{ building.street_number }} {{ building.street_name }}, {{ building.city }}, {{ building.state }} {{ building.zip_code }}</td>
              <td>{{ building.year_built }}</td>
              <td>{{ building.unit_count }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div>There are no matching results. Please adjust your search requirements.</div>
      {% endif %}
    {% endif %}
  </body>
</html>
