<html>
  <head>
    <title>{{ unit.street_number }} {{ unit.street_name }} #{{ unit.unit_number }}</title>
  </head>
  <body>
    <h1>{{ unit.street_number }} {{ unit.street_name }} #{{ unit.unit_number }}</h1>
    <h2>About the Building</h2>
    <div><a href="{{ url_for('apartment.get_building', company_name=unit.company_name, building_name=unit.building_name) }}">{{ unit.building_name }}</a></div>
    <div>{{ unit.street_number }} {{ unit.street_name }}, {{ unit.city }}, {{ unit.state }} {{ unit.zip_code }}</div>
    <div>Built in {{ unit.year_built }}</div>
    <div>Company: {{ unit.company_name }}</div>
    <h2>Amenities</h2>
    <h3>Unit Amenities</h3>
    <table>
      <th>Amenity</th>
      <th>Description</th>
      {% for unit_amenity in unit_amenities %}
        <tr>
          <td>{{ unit_amenity.amenity_name }}</td>
          <td>{{ unit_amenity.amenity_description }}</td>
        </tr>
      {% endfor %}
    </table>
    <h3>Building Amenities</h3>
    <table>
      <th>Amenity</th>
      <th>Description</th>
      {% for building_amenity in building_amenities %}
        <tr>
          <td>{{ building_amenity.amenity_name }}</td>
          <td>{{ building_amenity.amenity_description }}</td>
        </tr>
      {% endfor %}
    </table>
    <h2>Pet Policies</h2>
    <table>
      <th>Type</th>
      <th>Size</th>
      <th>Allowed</th>
      <th>Registration Fee</th>
      <th>Monthly Fee</th>
      {% for pet_policy in pet_policies %}
        <tr>
          <td>{{ pet_policy.pet_type }}</td>
          <td>{{ pet_policy.pet_size }}</td>
          <td>{{ 'Yes' if pet_policy.is_pet_allowed else 'No' }}</td>
          <td>{{ pet_policy.pet_registration_fee }}</td>
          <td>{{ pet_policy.pet_monthly_fee }}</td>
        </tr>
      {% endfor %}
    </table>
    <h2>Rooms</h2>
    {% if bedrooms %}
      <h3>Bedrooms</h3>
      <table>
        <th>Room</th>
        <th>Size</th>
        <th>Description</th>
        {% for bedroom in bedrooms %}
          <tr>
            <td>{{ bedroom.room_name }}</td>
            <td>{{ bedroom.room_size }} ft²</td>
            <td>{{ bedroom.room_description }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if bathrooms %}
      <h3>Bathrooms</h3>
      <table>
        <th>Room</th>
        <th>Size</th>
        <th>Description</th>
        {% for bathroom in bathrooms %}
          <tr>
            <td>{{ bathroom.room_name }}</td>
            <td>{{ bathroom.room_size }} ft²</td>
            <td>{{ bathroom.room_description }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if other_rooms %}
      <h3>Others</h3>
      <table>
        <th>Room</th>
        <th>Size</th>
        <th>Description</th>
        {% for other_room in other_rooms %}
          <tr>
            <td>{{ other_room.room_name }}</td>
            <td>{{ other_room.room_size }} ft²</td>
            <td>{{ other_room.room_description }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <h2>Interests</h2>
    {% if username %}
      {% if interests %}
        <table>
          <th>User</th>
          <th>Roommates</th>
          <th>Move-In Date</th>
          {% for interest in interests %}
            <tr>
              <td>{{ interest.username }}</td>
              <td>{{ interest.roommate_count }}</td>
              <td>{{ interest.move_in_date }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <a href="#">Post interest</a>
      {% else %}
        <a href="{{ url_for('auth.login', next=request.url) }}">Login</a> to view and post interests
    {% endif %}
  </body>
  <div style="margin-top: 1em;">
    <a href="{{ url_for('apartment.get_units') }}">Back to apartment units</a>
  </div>
</html>
