{% extends 'base.html' %}
{% block head %}
  <title>Pets | Roomio</title>
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Pets</h1>
    <table>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      {% for pet in pets %}
      <tr>
        <td><a href="{{ url_for('pets.get_one', pet_name=pet.pet_name, pet_type=pet.pet_type) }}">{{ pet.pet_name }}</a></td>
        <td>{{ pet.pet_type }}</td>
        <td>{{ pet.pet_size }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{{ url_for('pets.register') }}">
      <button>Register a pet</button>
    </a>
  </div>
{% endblock %}
