{% extends 'base.html' %}
{% block head %}
  <title>Register Pet | Roomio</title>
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Register Pet</h1>
    <form action="register" method="POST">
      <label for="pet_name">Pet Name:</label><br />
      <input type="text" id="pet_name" name="pet_name" value="{{ form_data.get('pet_name', '') }}" required /><br />
      <label for="pet_type">Pet Type:</label><br />
      <input type="text" id="pet_type" name="pet_type" value="{{ form_data.get('pet_type', '') }}" required /><br />
      <label for="pet_size">Pet Size:</label><br />
      <input type="text" id="pet_size" name="pet_size" value="{{ form_data.get('pet_size', '') }}" required /><br />
      <input type="submit" value="Register" />
      {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>
    <div style="margin-top: 1em;">
      <a href="{{ url_for('pets.get_all') }}">Go back</a>
    </div>
  </div>
{% endblock %}
